<manifest package="org.chaos.lib.thirdparty"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true">

        <meta-data android:name="UMENG_APPKEY"
                   android:value="${UMENG_APPKEY}" />

        <activity android:name="org.chaos.fx.cnbeta.wxapi.WXEntryActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:exported="true" />
    </application>

</manifest>